header{
  background-color: #666;
  padding: 30px;
  text-align: center;
  font-size: 35px;
  color: white;
}

body{
  background-color:  #990000;
}

.foto1{
  float: left;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 50%;
    color: white;
    position: absolute;

}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr {
    background-color: #666;
}
