header{
  background-color: #666;
  padding: 30px;
  text-align: center;
  font-size: 35px;
  color: white;
}

body {
  background-color: #990000;
}

h1{
  color: white;
  font-family: cursive;
}

label{
  font-family: cursive;
  color: white;
}

input{
  font-family: cursive;
  width: 200px;
  border-radius: 5%;
}

.btn_Registro{
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  height: 50px;
  width: 200px;
  float: right: 200px;
}

.foto1{
  float: left;
  width: 200px;
  height: 200PX;
}

.contenedor{
  position: absolute;
  justify-content: space-between;
  right: -20px;
  left: 10px;
}
